/*
font-family: 'Lato', sans-serif;
font-family: 'Dancing Script', cursive;
*/

.background-color {
    background-color:green;
}

section#menu-container {
    /* height:150px; */
    /* border:1px solid red; */
    background-image:linear-gradient(lightgray, darkgray, gray);
    display:flex;
    height:88px;
    z-index:2147483647;
    position:relative;
}

div {
    /* border:1px solid red; */
    display:inline-block;
    line-height:0;
}

.logo {
    font-family:'Dancing Script', cursive;
    padding:10px;
    border-radius:15px;
    font-weight:600;
    font-size:48px;
    margin:10px;
    line-height:1;
    background-image:linear-gradient(to right, firebrick, orange, yellow, lightgreen, skyblue, purple);
}

.logo.short{
    display:none;
}

#palette-container{
    display:block;
    width:100%;
}

.vcenter {
    width:100%;
    display:flex;
}

#color-container {
    /* border:1px solid red; */
    width:auto;
    height:88px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

.color {
    border-radius:50%;
    border:3px solid black;
    height:3vw;
    width:3vw;
    margin:1px 4px 1px 4px;
}

.color#color-black {
    background-color:black;
    border-color: skyblue;
}

.color#color-red {
    background-color:red;
}

.color#color-orange {
    background-color:orange;
}

.color#color-yellow {
    background-color:gold;
}

.color#color-green {
    background-color:green;
}

.color#color-blue {
    background-color:blue;
}

.color#color-purple {
    background-color:indigo;
}

.color#color-brown {
    background-color:rgb(77, 51, 51);
}

.color#color-gray {
    background-color:gray;
}

.color#eraser {
    background-color:white;
    background-image:url('../images/eraser.png');
    background-size:20px;
    background-repeat:no-repeat;
    background-position:center;
}

#brush-shape-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0px 10px;
}

.canvas-container {
    width:100%;
    height:100%;
    text-align:center;
    background-color:green;
}

#border-right {
    display:block;
    width:60px;
    position:relative;
    z-index:2147483647;
    left:15px;
}

#border-bottom {
    display:block;
    padding:30px 0px;
    width:100%;
    position:relative;
    z-index:2147483647;
    left:15px;
}

#canvas {
    background-color:white;
    height:500px;
    width:500px;
    position:relative;
    left:15px;
}

.button-container {
    display:flex;
    align-items:center;
}

.btn {
    font-family: 'Lato', sans-serif;
    width:60px;
}

.file-buttons {
    list-style:none;
    margin-bottom:0px;
    padding-inline-start:0px;
}

.file-buttons li {
    display:inline-block;
    margin:0.2vw;
}

@media screen and (max-width: 768px) {
    .logo.long {
        display:none;
    }

    .logo.short {
        display:inline-block;
    }

    #color-container {
        width:200px;
    }

    #brush-shape-container {
        flex-direction:column;
        margin:0;
    }

    .color {
        border-width:1px;
        width:25px;
        height:25px;
    }

    .color#eraser {
        background-size:contain;
    }

    .button-container {
        width:auto;
        position:absolute;
        top:2px;
        right:0;
    }

    .btn {
        font-size:16px;
        padding:0;
        height:25px;
        width:60px;
    }

    .file-buttons li {
        display:block;
        margin:2px 2px;
    }
}